<!DOCTYPE html>
<html>
  <head>
    <title>Rails0</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "turbo", type: "module" %>
  </head>

  <body>
    <div class="bg-gray-100">
      <div class="w-3/4 mx-auto">
        <%= render 'partials/header' %>
      </div>
    </div>
    <div class="w-3/4 mx-auto py-4">
      <%= yield %>
    </div>
  </body>
</html>
